type: "MARKDOWN_NOTE"
folder: "c57f1f33b81bbdc33991"
title: "Hello World en Xamarin"
content: '''
  # Hello World en Xamarin
  
  - Abre Visual Studio.
  - Ve a File -> New -> Project -> Cross Platform -> Xamarin.
  - Ejectua en el botón de *play*.
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-09T23:31:52.048Z"
updatedAt: "2017-12-11T01:08:21.965Z"
